<p style="color: green"><%= notice %></p>


<%= image_tag(@item.pic, size: "200x200") %>


<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>
    <% if @item.pic.attached? %>
    <%= link_to "Remove picture", delete_pic_attachment_item_path(@item), method: :delete %>
    <%end %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
